{% extends "base.html" %}
{% block content %}

<h1 align="center" style="color: olive;"> Новости </h1>
<div class="container">

{% for item in news %}
<div class="col border rounded ">
    <h2 style="color:blue;">{{ item.title }} </h2>
    <div>{{ item.content }}</div>
    <div>{{ item.user.name }} - {{ item.create_date.strftime("%d-%m-%Y %H:%M")}}</div>
 {% if current_user.is_authenticated and current_user == item.user %}
        <a href="/news/{{ item.id }}" class="btn btn-sm btn-warning">Изменить</a>&nbsp; &nbsp;
        <a href="/news_del/{{ item.id }}" class="btn btn-sm btn-danger"
           title="Удалить новость: &laquo;{{item.title}}&raquo;"
           onclick="return confirm('Вы действительно хотите удалить новость &laquo;{{item.title}}&raquo;?')">Удалить</a>
    {% endif %}
<br><br></div>

{% endfor %}
{% if current_user.is_authenticated %}
    <br><a href="news" class="btn btn-secondary">Добавить новость</a><br><br>
{% endif %}
</div>

<p class="text-center text-body-secondary">© 2023 Company, Inc</p>
{% endblock %}