{% extends "base.html" %}
{% block content %}
<form class="login_form" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col">
        <input type="text" class="form-control" name="fname" placeholder="Фамилия"><br>
          </div>
<div class="col">
        <input type="text" class="form-control" name="sname" placeholder="Имя"><br>
      </div>  </div>
<div class="row">    <div class="col">
       <input type="email" class="form-control" name="email" placeholder="E-mail"><br></div>
     <div class="col">    <input type="password" class="form-control" name="password" placeholder="Password"><br>      </div>  </div>
<div class="row">
     <div class="col">
        <!-- Список образования -->
        <div class="form-group">
            <label for="classSelect">Ваше образование</label>
            <select class="form-control" id="classSelect" name="profession">
                <option>Среднее</option>
                <option>Высшее</option>
            </select>
        </div> </div>
    <div class="col">
        <!-- Выбор пола -->
        <div class="form-group">
            <label for="form-check">Укажите пол</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="sex" id="male" value="male" checked>
                <label class="form-check-label" for="male">Мужской</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="sex" id="female" value="female">
                <label class="form-check-label" for="female"> Женский</label>
            </div>
        </div></div>
        </div>
        <!-- Текстовое поле -->
        <label for="about"> Немного о себе</label>
        <textarea class="form-control id="about" name="about" rows=3>Введите текст </textarea><br>

        <!-- Фото -->
        <div class="form-group">
            <label for="photo">Прикрепите фото</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>

        <!-- Чек бокс -->
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="ready" name="ready">
            <label class="form-check-label" for="ready">Готовы?</label>
        </div>


        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}