{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<h1 align="center">Здравствуйте, {{ current_user.name}}</h1>
{% endif %}
<form method="post" class="login_form">
    <input type="text" name="town" class="form-control" placeholder="Введите город"><br>
    <button type="submit" class="btn btn-primary">Показать погоду</button>
</form>


 <body style="background-color:lavender;">
</body>

	<style>
		.pull-center {
		text-align:center;
	}
	</style>
<div class="pull-center">

<div class="text-center">
<table style="height: 300px;">
  <tbody>
    <tr>

      <td class="align-text-bottom"></td>
    </tr>
  </tbody>
</table>
  <img src="../static/images/weather.jpg" class="rounded" alt="...">
</div></div>
{% endblock %}